*{
    margin: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#box{
    height:500px;
    width: 350px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
#box>h1{
    font-size: 100px;
}
#today-weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
#type{
    font-size: xx-large;
}
#loc{
    font-size: large;
}
#date-time{
    display: flex;
}
#note{
   
    display: flex;

}

@media (max-width: 600px) {

    main h1 {
        font-size: 30px;
    }

    #box {
        width: 90vw;          
        height: auto;         
        aspect-ratio: 3.5 / 5;   
        padding: 20px;
        border-radius: 15px;
    }
}