*{
    margin: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#box{
    height:500px;
    width: 400px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 600px) {

    main h1 {
        font-size: 1.4rem;
    }

    #box {
        width: 90vw;           /* scales with screen */
        height: auto;          /* keeps ratio */
        aspect-ratio: 4 / 5;   /* SAME SHAPE always */
        padding: 20px;
        border-radius: 15px;
    }
}